<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title of the webpage and favicon -->
        <title>Petitions Market</title>
        <link rel="icon" type="image/png" sizes="48x48" href="static/images/favicon.png">
        <!-- Stylesheets, javascript, jquery(CDN) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head> <!-- HEAD END -->

    <header>
        <div class="container-fluid custom-bg-colour">
            <div class="row"> <!-- The very top thin line -->
                <div class="p-1 col-12 col-sm-12 col-md-12 col-lg-12 d-lg-block bg-primary"></div>
            </div> <!-- ROW END -->

            <div class="container bg-body-tertiary">
                <div class="container">
                    <div class="row">
                        <!-- Logo column (left-side) -->
                        <div class="col-12 col-md-12 col-lg-4 bg-transparent text-center">
                            <img src="static/images/logo.png" class="img-fluid mx-auto d-block mt-md-2" alt="Logo">
                        </div>

                        <!-- Middle column, not used. Required to make other columns smaller -->
                        <div class="p-4 col-12 col-md-12 col-lg-2 bg-transparent text-center mx-auto d-block d-lg-block d-none"></div>

                        <!-- Login form column (right-side) -->
                        <div class="p-4 col-12 col-md-12 col-lg-6 text-center">
                            <div id="login-block">
                                <!-- Display when user is logged in -->
                                {% if logged_in %}
                                    <p>Welcome, {{ email }}</p>
                                    <!-- Display specific content based on user role (admin or basic user) -->
                                    {% if is_admin %}
                                        <button type="button" class="btn btn-outline-info btn-sm me-md-0 me-1"><a href="/management">Management</a></button>
                                        <button type="button" class="btn btn-primary btn-sm me-md-0 me-1" disabled>Profile</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm me-md-0 me-1"><a href="/logout">Logout</a></button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-info btn-sm me-md-0 me-1"><a href="/newPet">New Petition</a></button>
                                        <button type="button" class="btn btn-primary btn-sm me-md-0 me-1" disabled>Profile</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm me-md-0 me-1"><a href="/logout">Logout</a></button>
                                    {% endif %}
                                <!-- if nothing or user does not exist, refresh the login form -->
                                {% else %}
                                 <form id="login" method="post">
                                     <div class="row">
                                         <div class="col-12 col-md-4 mb-md-0 mb-2">
                                            <label for="email" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                         </div>
                                         <div class="col-12 col-md-4 mb-md-0 mb-3">
                                            <label for="password" class="form-label">Password:</label>
                                            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                         </div>
                                         <div class="col-12 col-md-4">
                                             <button type="submit" class="btn btn-outline-success btn-sm mt-md-4 me-md-0">LOGIN</button> <!-- LOGIN BUTTON -->
                                             <button type="button" id="signup-button" class="btn btn-outline-primary btn-sm mt-md-4 me-md-0">Sign Up</button>
                                         </div>
                                     </div> <!-- ROW END -->
                                 </form> <!-- FORM END -->
                                <!-- <button type="submit" id="signup-button">Sign Up</button> -->
                                {% endif %}
                            </div> <!-- LOGIN BLOCK END -->

                            <!-- Popup window for sign up -->
                            <div class="overlay-pop" id="signup-pop">
                                <div class="content-pop">
                                    <span class="close-button" id="close-pop">&times;</span>
                                    <h2>Create Account</h2>
                                    <p>Please fill in this account creation form.</p>
                                    <form id="signup-form">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="user-email" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="user-password" name="password" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <div class="row">
                                                <div class="col-md-6 mb-2 mb-md-0">
                                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="city" class="form-label">City</label>
                                            <input type="text" class="form-control" id="city" name="city" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="country" class="form-label">Country</label>
                                            <input type="text" class="form-control" id="country" name="country" required>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                            <button type="submit">CREATE ACCOUNT</button>
                                            <button type="button" id="cancel-button">CANCEL</button>
                                        </div>
                                    </form> <!-- POPUP FORM END -->
                                </div> <!-- CONTENT POP END -->
                            </div> <!-- OVERLAY POP END -->

                        </div>
                    </div> <!-- ROW END -->
                </div> <!-- CONTAINER END -->
            </div> <!-- FLUID-CONTAINER BG COLOUR END -->
        </div> <!-- FLUID-CONTAINER END -->
    </header> <!-- HEADER END -->

    <body> <!-- BODY -->
        <!-- Start of mid-section -->
        <div class="container mt-5">
          <div class="row">
            <div class="col-sm-7">
                <div class="custom-left-box">
                    <h3>Most Popular</h3>
                    <div class="inner-box">
                        <div class="custom-petition-box-left">
                            <div class="petition-header">
                                <span class="name-variable">"Name variable"</span>
                                <span class="signature-variable">Signed: "variable"</span>
                            </div>
                            <div class="petition-image">
                                X
                            </div>
                                <div class="petition-content">
                                    <div class="petition-title">
                                    Title goes here...
                                    </div>
                                    <p class="petition-description">
                                    Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                    laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                    eaque ipsa quae ab illo inventore veritatis.
                                    </p>

                                    <button class="view-button">Full Story</button>
                                </div>
                        </div> <!-- CUSTOM PETITION BOX END -->
                    </div> <!-- INNER BOX END -->
                </div> <!-- CUSTOM LEFT BOX END -->
            </div> <!-- COL-SM-7 END -->

            <div class="col-sm-5">
                <div class="custom-right-box">
                    <h3>Latest</h3>
                    <div class="inner-box">
                        <div class="custom-petition-box-right">
                            <div class="petition-image">
                                X
                            </div>
                            <div class="petition-content">
                                 <div class="petition-title-right">
                                   Title goes here...
                                 </div>
                             <p class="petition-description">
                                 Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                 laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                 eaque ipsa quae ab illo inventore veritatis.
                             </p>
                            </div>
                        </div>
                    </div> <!-- CUSTOM PETITION BOX END -->
                </div> <!-- CUSTOM RIGHT BOX END -->
            </div> <!-- COL-SM-5 END -->

          </div> <!-- CONTAINER MT-5 END -->
        </div> <!-- End of mid-section -->
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
    </body> <!-- BODY END -->

    <footer>
        <div class="mt-5 p-3 bg-dark text-white text-center">
          <p>ENU@2025</p>
        </div>
    </footer> <!-- FOOTER END -->

</html> <!-- HTML END -->