<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title of the webpage and favicon -->
        <title>Petitions Market</title>
        <link rel="icon" type="image/png" sizes="48x48" href="static/images/favicon.png">
        <!-- Stylesheets, javascript, jquery(CDN) -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
        <script src="static/js/login.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head> <!-- HEAD END -->

    <header>
        <div class="container-fluid custom-bg-colour"> <!-- DO I NEED THIS COLOUR?????????????????? -->
            <div class="row"> <!-- The very top thin line -->
                <div class="p-1 col-12 col-sm-12 col-md-12 col-lg-12 d-lg-block bg-primary"></div>
            </div> <!-- ROW END -->

            <div class="container bg-body-tertiary">
                <div class="container">
                    <div class="row">
                        <!-- Logo column (left-side) -->
                        <div class="col-12 col-md-12 col-lg-4 bg-transparent text-center">
                            <img src="static/images/logo.png" class="img-fluid mx-auto d-block mt-md-2" alt="Logo">
                        </div>

                        <!-- Middle column, not used. Required to make other columns smaller -->
                        <div class="p-4 col-12 col-md-12 col-lg-2 bg-transparent text-center mx-auto d-block d-lg-block d-none"></div>

                        <!-- Login form column (right-side) -->
                        <div class="p-4 col-12 col-md-12 col-lg-6 text-center">
                            <div id="login-block">
                                {% if logged_in %}
                                    <p>Welcome, {{ email }} LogoutButton</a></p>
                                {% else %}
                                 <form id="login" method="post">
                                     <div class="row">
                                         <div class="col-12 col-md-4 mb-md-0 mb-2">
                                            <label for="email" class="form-label">Email:</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                         </div>
                                         <div class="col-12 col-md-4 mb-md-0 mb-3">
                                            <label for="password" class="form-label">Password:</label>
                                            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                         </div>
                                         <div class="col-12 col-md-4">
                                             <button type="submit" class="btn btn-outline-success mt-md-4 me-md-0 me-3">LOGIN</button>
                                             <button type="submit" class="btn btn-primary mt-md-4 me-md-0 me-3">SIGN UP</button>
                                         </div>
                                     </div> <!-- ROW END -->
                                 </form> <!-- FORM END -->
                                {% endif %}
                            </div> <!-- LOGIN BLOCK END -->
                        </div>
                    </div> <!-- ROW END -->
                </div> <!-- CONTAINER END -->
            </div> <!-- FLUID-CONTAINER BG COLOUR END -->
        </div> <!-- FLUID-CONTAINER END -->
    </header> <!-- HEADER END -->

    <body> <!-- BODY -->
        <!-- Start of mid-section -->
        <div class="container mt-5">
          <div class="row">
            <div class="col-sm-7">
                <div class="custom-left-box">
                    <h3>Most Popular</h3>
                    <div class="custom-petition-box">
                        <div class="petition-header">
                            <span>"Name variable"</span>
                            <span>Signed: "variable"</span>
                        </div>
                        <div class="petition-image">
                            X
                        </div>
                            <div class="petition-title">
                                Title goes here...
                            </div>
                            <p class="petition-description">
                                Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                eaque ipsa quae ab illo inventore veritatis.
                            </p>
                    </div>
                    <div class="custom-petition-box">
                        <div class="petition-header">
                            <span>"Name variable"</span>
                            <span>Signed: "variable"</span>
                        </div>
                        <div class="petition-image">
                            X
                        </div>
                            <div class="petition-title">
                                Title goes here...
                            </div>
                            <p class="petition-description">
                                Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                eaque ipsa quae ab illo inventore veritatis.
                            </p>
                    </div>
                    <div class="custom-petition-box">
                        <div class="petition-header">
                            <span>"Name variable"</span>
                            <span>Signed: "variable"</span>
                        </div>
                        <div class="petition-image">
                            X
                        </div>
                            <div class="petition-title">
                                Title goes here...
                            </div>
                            <p class="petition-description">
                                Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                eaque ipsa quae ab illo inventore veritatis.
                            </p>
                    </div> <!-- CUSTOM PETITION BOX END -->
                </div> <!-- CUSTOM LEFT BOX END -->
            </div> <!-- COL-SM-7 END -->

            <div class="col-sm-5">
                <div class="custom-right-box">
                    <h3>Latest</h3>
                    <div class="custom-petition-box-right">
                        <div class="petition-image-right">
                            X
                        </div>
                        <div class="petition-content-right">
                            <div class="petition-title-right">
                                Title goes here...
                            </div>
                            <p class="petition-description-right">
                                Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque
                                laudantium, laudantium totam rem aperiam, laudantium, laudantium, laudantium
                                eaque ipsa quae ab illo inventore veritatis.
                            </p>
                        </div>
                    </div> <!-- CUSTOM PETITION BOX END -->
                </div> <!-- CUSTOM RIGHT BOX END -->
            </div> <!-- COL-SM-5 END -->

          </div> <!-- CONTAINER MT-5 END -->
        </div> <!-- End of mid-section -->
    </body> <!-- BODY END -->

    <footer>
        <div class="mt-5 p-3 bg-dark text-white text-center">
          <p>ENU@2025</p>
        </div>
    </footer> <!-- FOOTER END -->

</html> <!-- HTML END -->